[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "fzf"]
	path = fzf
	url = https://github.com/junegunn/fzf.git
[submodule ".config/nvim/autoload/vim-plug"]
	path = .config/nvim/autoload/vim-plug
	url = https://github.com/junegunn/vim-plug
[submodule "ohmyzsh"]
	path = ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh
