!###############################################################################
! urxvt options
!###############################################################################

! these were meant for xcompmgr-transparency
URxvt.background:rgba:0000/0000/0000/B000
URxvt.foreground:rgba:FFFF/FFFF/FFFF/FFFF
URxvt.depth:32
URxvt.fading:0
URxvt.iso14755: true
URxvt.iso14755_52: false


! these give regular olds-style stupid transparency
!URxvt.depth:16
!URxvt.fading:30
!URxvt.shading:50
!URxvt.background:black
!URxvt.foreground:white
!URxvt.fadeColor:black
!URxvt.tintColor:black
!URxvt.inheritPixmap:true

! These have nothing to do with transparency:
URxvt.geometry:80x25
URxvt.scrollBar:false
URxvt*scrollTtyKeypress: true
URxvt*scrollTtyOutput: false

URxvt.saveLines:524288
URxvt.modifier:mod1
!URxvt.borderLess:true
URxvt.perl-ext-common: default,matcher
URxvt.cursorColor: #666
! URxvt.keysym.S-Prior: \033[5;2~
! URxvt.keysym.S-Next: \033[6;2~
! URxvt.keysym.S-Prior: 33[25S
! URxvt.keysym.S-Next: 33[25T

URxvt.url-launcher: /home/skrewz/.config/awesome/support_scripts/skrewz-spawn-browser.sh
URxvt.keysym.M-u:    matcher:next
URxvt.keysym.M-l:    matcher:list
URxvt.matcher.button:     1
URxvt.matcher.pattern.1:  \\bwww\\.[\\w-]+\\.[\\w./?&@#-]*[\\w/-]
!URxvt.matcher.pattern.2:  \\B(/\\S+?):(\\d+)(?=:|$)
!URxvt.matcher.launcher.2: gvim +$2 $1

URxvt.highlight-under-cursor.rend.0:  fg:9 bg:6 Italic

! Makes urxvt set the urgent flag in your window manager when a bell
! would (otherwise) have been released. Can be quite useful.
URxvt.urgentOnBell: true

! Normal font:
!#############

!URxvt.font:-*-terminus-medium-r-*-*-12-*-*-*-*-*-*-*
!URxvt.boldFont:-*-terminus-bold-r-*-*-12-*-*-*-*-*-*-*
!URxvt.italicFont:-*-terminus-medium-o-*-*-12-*-*-*-*-*-*-*
!URxvt.boldItalicFont:-*-terminus-bold-o-*-*-12-*-*-*-*-*-*-*

!URxvt.font:          -*-clean-medium-r-*-*-14-*-*-*-*-*-*-*
!URxvt.boldFont:      -*-clean-bold-r-*-*-14-*-*-*-*-*-*-*
!URxvt.italicFont:    -*-clean-medium-i-*-*-14-*-*-*-*-*-*-*

Xft.antialias:  1
!Xft.dpi:        200
Xft.hinting:    1
!Xft.hintstyle:  hintslight
Xft.rgba:       rgb

! https://github.com/powerline/fonts/issues/176#issuecomment-370198936 :
URxvt.font:          xft:Hack:size=7:antialias=true,xft:Symbola,xft:Noto Emoji:minspace=False
URxvt.boldFont:      xft:Hack:bold:size=7:antialias=true,xft:Symbola,xft:Noto Emoji:minspace=False
URxvt.italicFont:    xft:Hack:italic:size=7:antialias=true,xft:Symbola,xft:Noto Emoji:minspace=False
URxvt.letterSpace: -1

!URxvt.boldItalicFont:-*-clean-bold-i-*-*-12-*-*-*-*-*-*-*
! Font-change bindings:
!######################
URxvt.keysym.M-F9: command:\033]710;xft:Hack:size=9:antialias=true,xft:Symbola,xft:Noto Emoji:minspace=False\007\033]711;\007\033]712;xft:Hack:bold:size=9:antialias=true,xft:Symbola,xft:Noto Emoji:minspace=False\007\033]713;xft:Hack:italic:size=9:antialias=true,xft:Symbola,xft:Noto Emoji:minspace=False\007
URxvt.keysym.M-F10: command:\033]710;xft:Hack:size=11:antialias=true,xft:Symbola,xft:Noto Emoji:minspace=False\007\033]711;\007\033]712;xft:Hack:bold:size=11:antialias=true,xft:Symbola,xft:Noto Emoji:minspace=False\007\033]713;xft:Hack:italic:size=11:antialias=true,xft:Symbola,xft:Noto Emoji:minspace=False\007
URxvt.keysym.M-F11: command:\033]710;xft:Hack:size=14:antialias=true,xft:Symbola,xft:Noto Emoji:minspace=False\007\033]711;\007\033]712;xft:Hack:bold:size=14:antialias=true,xft:Symbola,xft:Noto Emoji:minspace=False\007\033]713;xft:Hack:italic:size=14:antialias=true,xft:Symbola,xft:Noto Emoji:minspace=False\007
URxvt.keysym.M-F12: command:\033]710;xft:Hack:size=32:antialias=true,xft:Symbola,xft:Noto Emoji:minspace=False\007\033]711;\007\033]712;xft:Hack:bold:size=32:antialias=true,xft:Symbola,xft:Noto Emoji:minspace=False\007\033]713;xft:Hack:italic:size=32:antialias=true,xft:Symbola,xft:Noto Emoji:minspace=False\007
!URxvt.keysym.M-F10: command:\033]710;-*-terminus-medium-r-*-*-9-*-*-*-*-*-*-u\007\033]711;-*-terminus-bold-r-*-*-9-*-*-*-*-*-*-u\007\033]712;-*-terminus-medium-o-*-*-9-*-*-*-*-*-*-u\007\033]713;-*-terminus-bold-o-*-*-9-*-*-*-*-*-*-u\007
!URxvt.keysym.M-F11: command:\033]710;-*-terminus-medium-r-*-*-14-*-*-*-*-*-*-u\007\033]711;-*-terminus-bold-r-*-*-14-*-*-*-*-*-*-u\007\033]712;-*-terminus-medium-o-*-*-14-*-*-*-*-*-*-u\007\033]713;-*-terminus-bold-o-*-*-14-*-*-*-*-*-*-u\007
!URxvt.keysym.M-F12: command:\033]710;-*-terminus-medium-r-*-*-48-*-*-*-*-*-*-u\007\033]711;-*-terminus-bold-r-*-*-48-*-*-*-*-*-*-u\007\033]712;-*-terminus-medium-o-*-*-48-*-*-*-*-*-*-u\007\033]713;-*-terminus-bold-o-*-*-48-*-*-*-*-*-*-u\007

xvkbd.NormalKeys: \
  F1 F2 F3 F4 F5 F6 F7 F8 F9 F10 F11 F12 BackSpace \n\
  Escape 1 2 3 4 5 6 7 8 9 0 - = \134 ~ \n\
  Tab å , . p y f g c r l \042 ~ Delete \n\
  Control_L a o e u i d h t n s \047 Return \n\
  Shift_L æ q j k x b m w v z Multi_key Shift_R \n\
  MainMenu Caps_Lock Alt_L Meta_L space Meta_R Alt_R Left Right Up Down Focus

xvkbd.ShiftKeys: \
  F1 F2 F3 F4 F5 F6 F7 F8 F9 F10 F11 F12 Delete \n\
  Escape ! \047 # $ % & / ( ) = ? ` | ~ \n\
  ISO_Left_Tab Å ; \072 P Y F G R L * ^ = BackSpace \n\
  Control_L A O E U I D H T N S - Return \n\
  Shift_L Æ Q J K X B M V W Z Multi_key Shift_R \n\
  MainMenu Caps_Lock Alt_L Meta_L space Meta_R Alt_R Left Right Up Down Focus


xvkbd.KeyLabels: \
  F1 F2 F3 F4 F5 F6 F7 F8 F9 F10 F11 F12 Backspace \n\
  Escape 1 2 3 4 5 6 7 8 9 0 - = \134 ~ \n\
  Tab å , . p y f g c r l \042 ~ Delete \n\
  Control a o e u i d h t n s \047 Return \n\
  Shift æ q j k x b m w v z Multi_key Shift_R \n\
  MainMenu Caps\nLock Alt Meta space Meta Alt left right up down Focus

xvkbd.NormalKeyLabels: \
  F1 F2 F3 F4 F5 F6 F7 F8 F9 F10 F11 F12 Backspace \n\
  Escape 1 2 3 4 5 6 7 8 9 0 - = \134 ~ \n\
  Tab å , . p y f g c r l \042 ~ Delete \n\
  Control a o e u i d h t n s \047 Return \n\
  Shift æ q j k x b m w v z Multi_key Shift_R \n\
  MainMenu Caps\nLock Alt Meta space Meta Alt left right up down Focus

xvkbd.ShiftKeyLabels:  \
  F1 F2 F3 F4 F5 F6 F7 F8 F9 F10 F11 F12 Delete \n\
  Escape ! \047 # $ % & / ( ) = ? ` | ~ \n\
  Tab Å ; \072 P Y F G R L * ^ = BackSpace \n\
  Ctrl A O E U I D H T N S - Return \n\
  Shift Æ Q J K X B M V W Z Comp Shift \n\
  MainMenu Caps Alt Meta space Meta Alt left right up down Focus
